html
  /*cursor: none*/
  user-select: none

body
  letter-spacing: 2px
  font-family: "Avenir-Medium"

.image-frame
  border: 2px
  border-style: solid
  border-color: #0a3c5b
  overflow: hidden

img.image-center
  width: 100%
  display: block
  margin: auto

.footer-notes
  position: absolute
  width: 100%
  bottom: 10px
  right: 10px
  text-align: right
  font-size: 12px
  color: grey

.header-notes
  position: absolute
  width: 100%
  top: 60px
  text-align: right
  font-size: 12px
  color: grey
